<ion-item class="item-room"
          ng-click="vm.onRoom()">
  <div class="item-room__avatar-block">
    <img class="item-room__avatar"
         ng-if="!vm.room.group"
         ng-src="{{vm.room.last_message.avatar}}">
    <img class="item-room__avatar"
         ng-if="vm.room.group"
         ng-src="{{vm.room.group.avatar}}">
  </div>

  <div class="item-room__content"
       ng-if="!vm.room.group">
    <div class="item-room__green-circle"></div>
    <div class="item-room__title">
      {{vm.room.last_message.name}}
    </div>
    <div class="item-room__message">
      {{vm.room.last_message.message}}
    </div>
  </div>
  <div class="item-room__time">
    {{vm.room.last_message.time}}
  </div>

  <div class="item-room__content-group"
       ng-if="vm.room.group">
    <div class="item-room__title item-room__title-group">
      {{vm.room.group.title}} ({{vm.room.group.count}})
    </div>
    <div class="item-room__title item-room__title-group-message">
      {{vm.room.last_message.name}}
    </div>
    <div class="item-room__message">
      {{vm.room.last_message.message}}
    </div>
  </div>

  <div class="item-room__time">
    {{vm.room.last_message.time}}
  </div>

  <div ng-if="vm.room.last_message.new"
       class="item-room__new-message">
    <ng-md-icon icon="message"
                size="20"
                style="fill: #909090"></ng-md-icon>
  </div>

  <ion-option-button class="button-balanced item-room__delete-btn"
                     ng-click="share(item)">
    <i class="icon ion-android-delete"></i>
  </ion-option-button>
</ion-item>
