<a href="" class="button buttons button-clear header-item btn-more-settings"
   ng-click="vm.showListBottomSheet($event)">
  <ng-md-icon icon="more_vert"
              style="fill: #fff"
              size="25"></ng-md-icon>
</a>
