<md-bottom-sheet class="md-list md-has-header">
  <h1 class="md-bottom-sheet-header">Опции группового чата</h1>
  <md-list>
    <md-list-item>
      <a class="md-default-theme md-bottom-sheet-list-item"
         ng-click="closeListBottomSheet()">
        <i>
          <ng-md-icon icon="chat"
                      style="fill: #4d4d4d"></ng-md-icon>
        </i>
        <span>Написать администратору</span>
      </a>
    </md-list-item>
    <md-list-item>
      <a class="md-default-theme md-bottom-sheet-list-item"
         ui-sref="main.group-chat-settings({group_chat_id: 1})"
         ng-click="closeListBottomSheet()">
        <i>
          <ng-md-icon icon="settings"
                      style="fill: #4d4d4d"></ng-md-icon>
        </i>
        <span>Настройки</span>
      </a>
    </md-list-item>
    <md-list-item>
      <a class="md-default-theme md-bottom-sheet-list-item"
         href=""
         ui-sref="main.tabs.rooms"
         ng-click="closeListBottomSheet()">
        <i>
          <ng-md-icon icon="exit_to_app"
                      style="fill: #4d4d4d"></ng-md-icon>
        </i>
        <span>Выйти</span>
      </a>
    </md-list-item>
    <md-list-item>
      <a class="md-default-theme md-bottom-sheet-list-item"
         ng-click="closeListBottomSheet()">
        <i>
          <ng-md-icon icon="close"
                      style="fill: #4d4d4d"></ng-md-icon>
        </i>
        <span>Отменить</span>
      </a>
    </md-list-item>
  </md-list>
</md-bottom-sheet>
