<ion-view view-title="Настройки"
          hide-back-button="true">
  <ion-nav-buttons>
    <button class="button back-button buttons button-clear header-item"
            ui-sref='main.group-chat.chat({group_chat_id: 1})'>
      <i class="icon ion-android-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list group-chat-settings">
      <div class="item group-chat-settings__item--title">
        <md-input-container md-no-float="" class="md-list-item-full-width create-group-chat-dialog__input">
          <input placeholder="Название группового чата">
        </md-input-container>
      </div>
      <div class="item item-thumbnail-left group-chat-settings__item--withoit-border-top">
        <img ng-src="screen-group-chat-settings/assets/images/avatar.png">
        <div class="group-chat-settings__item-image--title">
          Аватар
        </div>
        <div class="group-chat-settings__item-image--icon">
          <ng-md-icon icon="mode_edit"
                      style="fill: #4d4d4d"
                      size="30"></ng-md-icon>
        </div>
      </div>
      <div class="item item-thumbnail-left">
        <img ng-src="screen-group-chat-settings/assets/images/background.png">
        <div class="group-chat-settings__item-image--title">
          Фон
        </div>
        <div class="group-chat-settings__item-image--icon">
          <ng-md-icon icon="mode_edit"
                      style="fill: #4d4d4d"
                      size="30"></ng-md-icon>
        </div>
      </div>
      <div class="item item-divider">
        Автор
      </div>
      <div class="item">
        <div class="item-user-checkbox__content">
          <img src="{{vm.chat.avatar}}" class="item-user-checkbox__avatar">
          <div class="item-user-checkbox__name">{{vm.chat.name}}</div>
          <div class="item-user-checkbox__phone">{{vm.chat.phone}}</div>
        </div>
      </div>
      <div class="item item-divider">
        Модераторы
      </div>
      <div class="item">
        <div class="item-user-checkbox__content">
          <img src="{{vm.chat.avatar}}" class="item-user-checkbox__avatar">
          <div class="item-user-checkbox__name">{{vm.chat.name}}</div>
          <div class="item-user-checkbox__phone">{{vm.chat.phone}}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col group-chat-settings__btn--block">
        <a href=""
           class="md-raised md-button md-default-theme group-chat-settings__btn material-background"
           ui-sref="main.contacts">
          Добавить модератора
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
