<ion-view>
  <ion-nav-buttons>
    <button class="button back-button buttons button-clear header-item" ui-sref="main.tabs.rooms">
      <i class="icon ion-android-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <btn-clip></btn-clip>
    <btn-add-user></btn-add-user>
    <btn-more-settings></btn-more-settings>
  </ion-nav-buttons>
  <ion-nav-title>
    <div class="group-chat__header">
      <div class="group-chat__title">
        {{vm.chat.group.title}}
      </div>
      <div class="group-chat__count">
        {{vm.chat.group.count}} участников
      </div>
    </div>
  </ion-nav-title>
  <ion-content>

    <gallery images="vm.gallery"></gallery>

  </ion-content>
</ion-view>
