.tabs-main {
  background-size: 25px;
  &__news {
    background: url('../../screen-tabs-main/assets/images/receipt__white.svg') no-repeat 50%;
    &--active {
      background: url('../../screen-tabs-main/assets/images/receipt__white--active.svg') no-repeat 50%;
    }
  }
  &__chat {
    background: url('../../screen-tabs-main/assets/images/chat__white.svg') no-repeat 50%;
    &--active {
      background: url('../../screen-tabs-main/assets/images/chat__white--active.svg') no-repeat 50%;
    }
  }
  &__satellite {
    background: url('../../screen-tabs-main/assets/images/satellite__white.svg') no-repeat 50%;
    &--active {
      background: url('../../screen-tabs-main/assets/images/satellite__white--active.svg') no-repeat 50%;
    }
  }
}
