<div class="row" ng-repeat="image in vm.images" ng-if="$index % 3 === 0">
  <div class="col col-33" ng-if="$index < vm.images.length" ng-click="vm.showImages($index)">
    <img ng-src="{{vm.images[$index].src}}" width="100%" />
  </div>
  <div class="col col-33" ng-if="$index + 1 < vm.images.length" ng-click="vm.showImages($index + 1)">
    <img ng-src="{{vm.images[$index + 1].src}}" width="100%" />
  </div>
  <div class="col col-33" ng-if="$index + 2 < vm.images.length" ng-click="vm.showImages($index + 2)">
    <img ng-src="{{vm.images[$index + 2].src}}" width="100%" />
  </div>
</div>
