<div class="modal image-modal transparent" on-swipe-down="vm.closeModal()">
  <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="vm.activeSlide">
    <ion-slide ng-repeat="image in vm.images">

      <ion-scroll direction="xy" scrollbar-x="false" scrollbar-y="false"
                  zooming="true" min-zoom="{{zoomMin}}" style="width: 100%; height: 100%"
                  delegate-handle="scrollHandle{{$index}}" on-scroll="vm.updateSlideStatus(vm.activeSlide)" on-release="vm.updateSlideStatus(vm.activeSlide)">

        <div class="image" style="background-image: url( {{image.src}} )"></div>

      </ion-scroll>
    </ion-slide>
  </ion-slide-box>
</div>
