.send-sticker {
  margin: 10px -5px 0;
  background: #fff;
  &__slide {
    color: #000;
    text-align: center;
    &-img {
      max-width: 30%;
      height: 80px;
    }
    &-row {
      margin: 8px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  }
  &__slide-box {
    height: 205px;
    & .slider-pager {
      bottom: 25px;
      & .slider-pager-page {
        font-size: 7px;
        width: 5px;
      }
    }
  }
  &__footer {
    background: #f4f4f7;
    display: flex;
  }
  &__shop-btn {
    background: #4caf50;
    width: 60px;
    text-align: center;
    &--icon {
      position: relative;
      right: 3px;
      bottom: 7px;
    }
    &.activated {
      background: #66a650;
    }
  }
  &__collections {
    width: 100%;
  }
  &__collection {
    width: 40px;
    height: 50px;
    display: inline-block;
    &--icon {
      position: relative;
      left: 5px;
      bottom: 7px;
    }
    &.activated,
    &.activate {
      background: #fff;
    }
  }
}
