.modal-search {
  background: rgba(0, 0, 0, 0.3) !important;
  &__btn {
    &--cancel {
      &.button.button-stable.button-clear {
        color: #fff;
      }
    }
  }
  &__head-bar.bar {
    border: none;
  }
  &__input--search {
    &.item-input-wrapper {
      background: #fff;
    }
  }
}
