<div class="item item-user-checkbox">
  <div class="checkbox-container">
    <md-checkbox aria-label="Checkbox">
      <div class="item-user-checkbox__content">
        <img src="{{vm.user.avatar}}" class="item-user-checkbox__avatar">
        <div class="item-user-checkbox__name">{{vm.user.name}}</div>
        <div class="item-user-checkbox__phone">{{vm.user.phone}}</div>
      </div>
    </md-checkbox>
  </div>
</div>
