<ion-view view-title="Новостная лента">
  <ion-nav-buttons side="right">
    <btn-search></btn-search>
  </ion-nav-buttons>
  <ion-content class="padding tab-news background-grey">
    <item-news news="news" ng-repeat="news in vm.newsList track by $index"></item-news>
  </ion-content>
</ion-view>
