<a href="" class="button buttons button-clear header-item btn-create-group-chat"
        ng-click="vm.showDialog($event)">
    <ng-md-icon icon="group_add"
                style="fill: #fff"
                size="35"></ng-md-icon>
</a>
