<md-dialog aria-label="dialog-create-group-chat">
  <md-dialog-content class="md-dialog-content">
      <h2 class="md-title">
        1/3  Открыть групповой чат
      </h2>
      <md-input-container md-no-float="" class="md-list-item-full-width dialog-create-group-chat__input">
        <input placeholder="Название">
      </md-input-container>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <a class="md-primary-color dialog-action-btn" ng-click="closeDialog()">
      Отменить
    </a>
    <a class="md-primary-color dialog-action-btn" ng-click="okDialog()">
      Сохранить
    </a>
  </md-dialog-actions>
</md-dialog>
