.group-chat {
  &__header {
    line-height: 19px;
    position: relative;
    left: -40px;
    top: 110px;
  }
  &__title {
    font-weight: 700;
    font-size: 20px;
  }
  &__count {
    font-size: 12px;
  }
  &__row {
    padding: 0;
  }
}

.group-chat-bar {
  & .tab-item {
    font-size: 11px;
  }
  & .tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {
    border-color: #66a650;
  }
}
