<ion-view>
  <ion-tabs class="tabs-balanced">
    <ion-tab title="ФОНЫ"
             ui-sref='main.shop.backgrounds'>
      <ion-nav-view name="tab-shop-backgrounds"></ion-nav-view>
    </ion-tab>
    <ion-tab title="СТИКЕРЫ"
             ui-sref='main.shop.stickers'>
      <ion-nav-view name="tab-shop-stickers"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
