.message {
  margin: 20px 0;
  max-width: 93%;
  &:before {
    display: block;
    width: 0;
    height: 0;
    padding: 0 5px 0 0;
    border-style: solid;
    border-width: 0 25px 8px 0;
    border-color: transparent #fff transparent transparent;
    content: '';
  }
  &--author-user {
    text-align: right;
    margin-left: auto;
    &:before {
      position: absolute;
      right: 5px;
      border-width: 8px 25px 0 0;
      border-color: #c8e6c9 transparent transparent transparent;
    }
  }
  &__content {
    display: inline-block;
    background: #fff;
    padding: 8px;
    font-size: 16px;
    top: -8px;
    margin: -8px 0 0 30px;
    left: 30px;
    &--author-user {
      background: #c8e6c9;
      margin: 0 30px 0 0;
    }
  }
  &__image {
    max-width: 100%;
  }
  &__text {
    text-align: left;
    margin: 0;
  }
  &__time {
    color: #96a297;
    font-size: 12px;
    text-align: right;
  }
  &__status {
    & ng-md-icon {
      height: auto;
      width: auto;
    }
  }
  &__user-name {
    font-weight: 600;
    text-decoration: underline;
  }
}
