/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #4caf50 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ff5252 !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;

// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;

// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";

.tabs-striped.tabs-balanced .tab-item .badge {
  opacity: 1;
}

.background-white {
  background: #fff;
}

.background-grey {
  background: #e4dfe1;
}

.bar,
.bar .title {
  height: 54px;
  line-height: 54px!important;
}

.bar .title {
  transition: left 0.1s linear 0.1s;
}

.has-header {
  top: 54px;
}

.tabs-top > .tabs, .tabs.tabs-top {
  top: 54px;
}

.tabs-top .has-tabs-top {
  top: 103px;
}

.header-btn.button.button-clear {
  padding: 0 6px;
}

.badge {
  border-radius: 5px;
}
