.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
  height: 74px;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-subheader,
.platform-ios.platform-cordova:not(.fullscreen) .has-header,
.platform-ios.platform-cordova:not(.fullscreen) .tabs-top>.tabs,
.platform-ios.platform-cordova:not(.fullscreen) .tabs.tabs-top {
  top: 74px;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-header.has-tabs-top {
  top: 123px;
}
