.money {
  &__menu-item {
    border-bottom: 2px solid #ebeced;
  }
  &-dialog {
    &__content {
      margin: 25px 0 -20px;
      & md-radio-button .md-label {
        width: 80%;
      }
    }
    &__coin {
      float: left;
    }
    &__currency {
      float: right;
    }
  }
}

.button.menu__buy-btn {
  min-height: 20px;
  height: 30px;
  line-height: normal;
  padding: 5px 8px;
  position: absolute;
  right: 20px;
  top: 6px;
  font-size: 14px;
  text-transform: uppercase;
}
