<ion-view view-title="Стриминг" hide-back-button="true">
  <ion-content class="padding background-grey">

      <div class="streaming">
        <div class="list streaming__list">
          <div class="item streaming__item">
            Название трансляции
          </div>

          <md-radio-group ng-model="data.group1" class="streaming__item--group">
            <md-radio-button value="Apple" class="item streaming__item">
              <img class="streaming__item--image" ng-src="screen-streaming/assets/images/youtube.png"/>
            </md-radio-button>
            <md-radio-button value="Banana" class="item streaming__item">
              <img class="streaming__item--image" ng-src="screen-streaming/assets/images/twitch.png"/>
            </md-radio-button>
          </md-radio-group>

          <md-radio-group ng-model="data.group2" class="item streaming__item row streaming__item--group-horizontal">
            <md-radio-button value="Apple" class="col streaming__item--radio">
              720p HD
            </md-radio-button>
            <md-radio-button value="Banana" class="col streaming__item--radio">
              470p SD
            </md-radio-button>
          </md-radio-group>
          <div class="item streaming__item streaming__item--btn-block">
            <button class="button button-block streaming__item--btn button-balanced">
              <ng-md-icon icon="videocam" style="fill: #fff; margin: -4px 0 0"></ng-md-icon> НАЧАТЬ ТРАНСЛЯЦИЮ
            </button>
          </div>
        </div>
      </div>

    <div class="streaming" ng-if="vm.showSettings">
      <div class="list streaming__list">
        <div class="item streaming__item">
          Настройки
        </div>

        <a href="" class="item streaming__item" ng-click="vm.clickSetting('youtube')">
          <img class="streaming__item--image" ng-src="screen-streaming/assets/images/youtube.png"/>
          <i class="icon ion-android-checkmark-circle streaming__item--checkmark"></i>
          <ng-md-icon class="streaming__item--chevron-right" icon="chevron_right" style="fill: #4d4d4d"></ng-md-icon>
        </a>

        <a href="" class="item streaming__item" ng-click="vm.clickSetting('twitch')">
          <img class="streaming__item--image" ng-src="screen-streaming/assets/images/twitch.png"/>
          <ng-md-icon class="streaming__item--warning" icon="warning" style="fill: #ff5252"></ng-md-icon>
          <ng-md-icon class="streaming__item--chevron-right" icon="chevron_right" style="fill: #4d4d4d"></ng-md-icon>
        </a>

        <div class="item streaming__item">
          <a href="" class="md-raised md-button md-default-theme material-background streaming__item--btn-left">
            <ng-md-icon icon="loop" style="fill: #fff; height: 16px; width: 16px; margin: -1px 0 0;" size="16"></ng-md-icon> ОБНОВИТЬ
          </a>
        </div>
      </div>
    </div>

    <div class="streaming" ng-if="vm.showSettingsChanel">
      <div class="list streaming__list">
        <div class="item streaming__item">
          <img class="streaming__item--image" ng-src="{{vm.channelImg}}" />
        </div>

        <div class="item item-icon-left streaming__item--icon-left">
          <i class="icon">
            <ng-md-icon icon="cast_connected"
                        style="fill: #4d4d4d"></ng-md-icon>
          </i>
          <input type="text"
                 placeholder="Название потока">
        </div>

        <div class="item item-icon-left streaming__item--icon-left">
          <i class="icon">
            <ng-md-icon icon="place"
                        style="fill: #4d4d4d"></ng-md-icon>
          </i>
          <input type="text"
                 placeholder="Stream Key">
        </div>

        <div class="item streaming__item">
          <a href=""
             class="button button-clear button-balanced streaming__item--btn-back"
             ng-click="vm.clickSetting()">
            <i class="icon ion-chevron-left"></i>
          </a>
          <a href="" class="md-raised md-button md-default-theme material-background streaming__item--btn-left"
             ng-click="vm.clickSetting()">
            <ng-md-icon icon="save" style="fill: #fff; height: 16px; width: 16px;  margin: -1px 0 0;" size="16"></ng-md-icon> СОХРАНИТЬ
          </a>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
