<ion-item class="member-control-item"
          ng-click="vm.foo()">

  <div class="item-user-checkbox__content">
    <img src="{{vm.user.avatar}}" class="item-user-checkbox__avatar">
    <div class="item-user-checkbox__name">{{vm.user.name}}</div>
    <div class="item-user-checkbox__phone">{{vm.user.phone}}</div>
  </div>

  <ion-option-button class="button-balanced room-item__delete-btn" ng-click="vm.foo()">
    <i class="icon ion-android-close"></i>
  </ion-option-button>
  <ion-option-button class="button-balanced room-item__delete-btn" ng-click="vm.foo()">
    <i class="icon ion-person-add"></i>
  </ion-option-button>
  <ion-option-button class="button-balanced room-item__delete-btn" ng-click="vm.foo()">
    <i class="icon ion-chatbox-working"></i>
  </ion-option-button>
</ion-item>
