<ion-view view-title="Подписка">
  <ion-nav-buttons>
    <button class="button back-button buttons button-clear header-item" ui-sref="main.tabs.news">
      <i class="icon ion-android-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <btn-search></btn-search>
  </ion-nav-buttons>
  <ion-content class="publics">

    <div class="row">
      <div class="col col-50">
        <item-public ng-repeat="public in vm.populars track by $index"
                     public="public"
                     type="subscription"
                     ng-if="$index % 2 === 0"></item-public>
      </div>

      <div class="col col-50">
        <item-public ng-repeat="public in vm.populars track by $index"
                     public="public"
                     type="subscription"
                     ng-if="$index % 2 !== 0"></item-public>
      </div>
    </div>
  </ion-content>
</ion-view>
