<div class="message" ng-class="{'message--author-user': vm.message.user === 0}">
  <div class="message__content" ng-class="{'message__content--author-user': vm.message.user === 0}">
    <img ng-src="{{vm.message.content.image}}"
         class="message__image"
         ng-if="vm.message.content.image">
    <p class="message__text"
       ng-if="vm.message.content.message">
      <span ng-if="vm.message.group && vm.message.user !== 0"
            class="message__user-name">User Name link:</span>
      {{vm.message.content.message}}
    </p>
    <div class="message__time">
      <i class="message__status">
        <ng-md-icon icon="{{vm.message.status === 'read' ? 'done_all' : 'done'}}"
                    size="15"
                    style="fill: #3c453d"></ng-md-icon>
      </i>{{vm.message.time}}
    </div>
  </div>
</div>
