<ion-view hide-back-button="true">
  <ion-nav-buttons>
    <button class="button back-button buttons button-clear header-item" ng-click="vm.onBack()">
      <i class="icon ion-android-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <btn-create-group-chat></btn-create-group-chat>
    <btn-clip></btn-clip>
  </ion-nav-buttons>
  <ion-nav-title>
    <img class="screen-chat__avatar"
         ui-sref="main.profile({user_id: 1})"
         ng-src="{{vm.chat.avatar}}"> {{vm.chat.name}}
  </ion-nav-title>

  <ion-content class="screen-chat has-footer">
    <message message="message" ng-repeat="message in vm.chat.messages"></message>
  </ion-content>

  <ion-footer-bar keyboard-attach class="bar-balanced screen-chat__footer"
                  ng-class="{'screen-chat__stickers': vm.stickers}">
    <send-message></send-message>
    <send-sticker></send-sticker>
  </ion-footer-bar>
</ion-view>
