.screen-chat {
  background: url('../../screen-chat/assets/images/background.jpg') repeat 0;
  &__avatar {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    float: left;
    display: block;
    margin: 6px 10px 6px 0;
  }
  &__footer {
    flex-direction: column;
    transition: height 0.8s;
  }
  &__stickers {
    height: 315px;
  }
}
