.profile {
  &__background {
    background: url('../../component-profile/assets/images/background.jpg') repeat 0;
    background-size: 30%;
    &--full {
      background-position-x: 11px;
      background-size: 40%;
      height: 190px;
    }
    &--clear {
      background: #53585f;
      position: relative;
    }
    &--icon {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
  &__avatar {
    border-radius: 50%;
    border: 3px solid #fff;
    &--menu {
      flex: 0 0 85px;
      width: 85px;
      height: 85px;
    }
    &--full {
      width: 140px;
      height: 140px;
      margin: -70px 0 0;
    }
    &--clear {
      background: #b6b6b6;
      width: 140px;
      position: relative;
      height: 140px;
      margin: 0 auto -70px;
      padding: 37px 35px 0 0;
      bottom: 70px;
      border-radius: 50%;
    }
  }
  &__info {
    text-align: center;
    &--menu{
      flex: 1 0;
    }
  }
  &__menu {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    top: 35px;
    margin: 0 0 0 16px;
    &--name {
      font-size: 22px;
      font-weight: 700;
    }
    &--phone {
      font-size: 14px;
    }
  }
  &__name,
  &__phone {
    text-align: center;
    line-height: normal;
  }
  &__name {
    color: #212121;
    font-size: 24px;
    font-weight: 400;
    padding: 10px 0 0;
  }
  &__phone {
    font-size: 16px;
    color: #747474;
    &--full {
      padding: 0 0 20px;
    }
  }
  &__about {
    font-size: 16px;
    padding: 15px;
    margin: 0 0 10px;
    &-title {
      color: #747474;
    }
  }
  &__list.list {
    margin: 0;
    &.item {
      font-size: 15px;
    }
  }
}
