<btn-sticker ng-click="vm.chooseSticker()"></btn-sticker>
<input type="text"
       class="send-message__input"
       ng-model="vm.message.body"
       ng-keyup="vm.onKeyUp($event)"
       placeholder="Сообщение">
<i class="icon send-message__btn"
   ng-click="vm.submitMessage()">
  <ng-md-icon icon="send"
              style="fill: #fff"></ng-md-icon>
</i>
