<div class="item-news md-whiteframe-z1">

  <div class="row item-news__header">
    <div class="col-20">
      <img ng-if="vm.news.avatar"
           class="item-news__avatar"
           ng-src="{{vm.news.avatar}}" />
    </div>
    <div class="col-80">
      <div class="item-news__title">
        {{vm.news.title}}
      </div>
      <div class="item-news__date">
        {{vm.news.date}}
      </div>
    </div>
  </div>

  <div class="item-news__poster">
    <img ng-if="vm.news.image"
         class="item-news__poster-image"
         ng-src="{{vm.news.image}}" />
  </div>

  <div class="row item-news__detail">
    <div class="col">
      <p class="content {{vm.statusNews || discount ? 'item-news__content--open' : 'item-news__content'}}">
       {{vm.news.description}}
      </p>
    </div>
  </div>

  <div class="row item-news__footer">
    <div class="col-33">
      <i>
        <ng-md-icon icon="thumb_up"
                    size="16"
                    style="fill: #212121; margin: 3px 0 0;"></ng-md-icon>
      </i>
      <span>{{vm.news.likes}}</span>
    </div>
    <div class="col-33">
      <i>
        <ng-md-icon icon="reply"
                    size="16"
                    style="fill: #212121; margin: 3px 0 0;"></ng-md-icon>
      </i>
      <span>{{vm.news.reposts}}</span>
    </div>
    <div class="col-33">
      <a href=""
         class="button button-clear button-balanced item-news__read-btn"
         ng-click="vm.read()">
        <i ng-show="vm.statusNews"
           class="icon ion-chevron-up"></i>
        <i ng-show="!vm.statusNews"
           class="icon ion-chevron-down"></i>
      </a>
    </div>
  </div>
</div>
