<div class="material-background profile__background"
     id="toggle-menu-left-header">
  <div class="profile__menu">
    <img class="profile__avatar profile__avatar--menu" ng-src="{{profile.user.avatar}}">
    <div class="profile__info profile__info--menu">
      <span class="profile__menu--name">{{profile.user.name}}</span>
      <br/>
      <span class="profile__menu--phone">{{profile.user.phone}}</span>
    </div>
  </div>
</div>
