<div class="profile__background--full"
     ng-class="{'material-background profile__background': profile.user,
                'profile__background--clear': !profile.user}">
  <div class="profile__background--icon"
       ng-if="!profile.user">
    <ng-md-icon icon="photo_library"
                style="fill: #fff"></ng-md-icon>

  </div>
</div>
<div class="profile__info background-white">
  <img ng-if="profile.user.avatar"
       class="profile__avatar profile__avatar--full"
       ng-src="{{profile.user.avatar}}">
  <div  ng-if="!profile.user.avatar"
        class="profile__avatar profile__avatar--clear">
    <ng-md-icon icon="add_a_photo"
                style="fill: #fff"
                size="60"></ng-md-icon>
  </div>
</div>
<div class="background-white">
  <div class="profile__name">
    {{profile.user.name || 'User Name'}}
  </div>
  <div class="profile__phone profile__phone--full">
    {{profile.user.phone || '+79501234567'}}
  </div>
</div>
<ul class="list profile__list">
  <div class="item item-icon-left">
    <i class="icon">
      <ng-md-icon icon="place"
                  style="fill: #4d4d4d"></ng-md-icon>
    </i>
    <input type="text"
           placeholder="Страна, город"
           value="{{profile.user.location}}">
  </div>
  <div class="item item-icon-left" href="#">
    <i class="icon">
      <ng-md-icon icon="group"
                  style="fill: #4d4d4d"></ng-md-icon>
    </i>
    Контактов: {{profile.user.contacts.count || 0}}
  </div>
</ul>
<div class="profile__about background-white">
  <div class="profile__about-title">О себе:</div>
  <p>
    {{profile.user.about || '...'}}
  </p>
</div>
