<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-energized material-background-nav-bar">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="menu.toggleLeft()">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="pageContent"></ion-nav-view>
  </ion-side-menu-content>

    <md-sidenav md-component-id="left" on-swipe-left="menu.closeSideNav()" on-drag-left="menu.closeSideNav()">
     <profile ui-sref="main.profile"
              ng-click="menu.toggleLeft()"
              type="menu"
              user="menu.user"></profile>

      <ion-content id="toggle-menu-left-content">

        <md-list>
          <money user="menu.user"></money>
          <item-menu title="Лента"
                     state="main.tabs.news"
                     icon="receipt">
          </item-menu>
          <item-menu title="Чаты"
                     state="main.tabs.rooms"
                     icon="chat">
          </item-menu>
          <item-menu title="Паблики"
                     state="main.publics.popular"
                     icon-svg="screen-tabs-main/assets/images/satellite.svg">
          </item-menu>
          <item-menu title="Профиль"
                     state="main.profile"
                     state-params="{user_id: 0}"
                     icon="person">
          </item-menu>
          <item-menu title="Контакты"
                     state="main.contacts"
                     icon="people">
          </item-menu>
          <item-menu title="Черный список"
                     state="main.contacts-black-list"
                     icon="people_outline">
          </item-menu>
          <item-menu title="Магазин"
                     state="main.shop.backgrounds"
                     icon="shopping_basket">
          </item-menu>
          <item-menu title="Стриминг"
                     state="main.sreaming"
                     icon="cast_connected">
          </item-menu>
          <item-menu title="Настройки"
                     state="main.settings"
                     icon="settings">
          </item-menu>
          <item-menu ng-if="menu.isAndroid"
                     title="Выйти"
                     state="main.tabs.news"
                     icon="exit_to_app"
                     border-top="true">
          </item-menu>
        </md-list>
      </ion-content>
    </md-sidenav>
</ion-side-menus>
