.item-public {
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
  overflow: hidden;
  &__background {
    height: 136px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  &__content {
    &.row {
      padding: 20px 0 5px;
      color: #4d4d4d;
      font-size: 12px;
      font-weight: 500;
      & .col {
        padding: 5px 10px;
      }
    }
    &--count-user {
      text-align: right;
    }
  }
  &__title-block {
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0 0 15px;
    position: absolute;
    bottom: 20px;
  }
  &__title {
    font-weight: 600;
    font-size: 15px;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 9px;
  }
  &__avatar {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    bottom: -16px;
    left: 15px;
    border: 2px solid #fff;
  }
  &__btn-block {
    text-align: center;
  }
  &__btn,
  &__btn.button {
    font-size: 12px;
    margin: 3px 4px 12px;
    padding: 0 20px;
  }
  &__btn {
    &--white {
      color: #fff;
    }
    &--green {
      color: #4caf50;
    }
    &--popular {
      min-height: 20px;
      padding: 5px 15px 6px;
      line-height: normal;
    }
    &--my.button {
      min-height: 20px;
      padding: 5px 20px;
      line-height: normal;
    }
    &--subscribe.button {
      min-height: 20px;
      padding: 5px 20px;
      line-height: normal;
    }
  }
  &--icon {
    width: auto;
    height: auto;
    &-thumb_up {
      margin: -3px 0 0;
    }
  }
}
