<ion-view view-title="{{'profile.title'|translate}}" hide-back-button="true">
  <ion-nav-buttons>
    <button class="button back-button buttons button-clear header-item" ng-click="vm.onBack()">
      <i class="icon ion-android-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <btn-chat-user ng-if="vm.params.user_id !== 0"></btn-chat-user>
    <btn-reply ng-if="vm.params.user_id !== 0"></btn-reply>
  </ion-nav-buttons>
  <ion-content class="padding background-grey">
    <div class="md-whiteframe-z1">
      <profile user="vm.user"
               type="full"></profile>
    </div>
  </ion-content>
</ion-view>
