<div class="send-sticker">
  <ion-slide-box class="send-sticker__slide-box" active-slide="0">
    <ion-slide class="send-sticker__slide" ng-repeat="item in [1,2,3,4,5,6,7]">
      <div class="send-sticker__slide-row">
        <img ng-src="component-send-sticker/assets/images/sticker.png" class="send-sticker__slide-img">
        <img ng-src="component-send-sticker/assets/images/sticker.png" class="send-sticker__slide-img">
        <img ng-src="component-send-sticker/assets/images/sticker.png" class="send-sticker__slide-img">
      </div>
      <div class="send-sticker__slide-row">
        <img ng-src="component-send-sticker/assets/images/sticker.png" class="send-sticker__slide-img">
        <img ng-src="component-send-sticker/assets/images/sticker.png" class="send-sticker__slide-img">
        <img ng-src="component-send-sticker/assets/images/sticker.png" class="send-sticker__slide-img">
      </div>
    </ion-slide>
  </ion-slide-box>
  <div class="send-sticker__footer">
    <div class="send-sticker__collections">

      <div class="send-sticker__collection"
           ng-click="vm.onChooseCollection(0)"
           ng-class="{'activate': vm.chooseCollection == 0}">
        <i class="send-sticker__collection--icon">
          <ng-md-icon icon="cake"
                      style="fill: #4a4a4b"
                      size="30"></ng-md-icon>
        </i>
      </div>
      <div class="send-sticker__collection"
           ng-click="vm.onChooseCollection(1)"
           ng-class="{'activate': vm.chooseCollection == 1}">
        <i class="icon send-sticker__collection--icon">
          <ng-md-icon icon="sentiment_satisfied"
                      style="fill: #4a4a4b"
                      size="30"></ng-md-icon>
        </i>
      </div>
      <div class="send-sticker__collection"
           ng-click="vm.onChooseCollection(2)"
           ng-class="{'activate': vm.chooseCollection == 2}">
        <i class="icon send-sticker__collection--icon">
          <ng-md-icon icon="fitness_center"
                      style="fill: #4a4a4b"
                      size="30"></ng-md-icon>
        </i>
      </div>
      <div class="send-sticker__collection"
           ng-click="vm.onChooseCollection(3)"
           ng-class="{'activate': vm.chooseCollection == 3}">
        <i class="icon send-sticker__collection--icon">
          <ng-md-icon icon="beach_access"
                      style="fill: #4a4a4b"
                      size="30"></ng-md-icon>
        </i>
      </div>
    </div>
    <div class="send-sticker__shop-btn"
         ui-sref="main.shop.stickers">
      <i class="icon send-sticker__shop-btn--icon">
        <ng-md-icon icon="shopping_basket"
                    style="fill: #fff"
                    size="30"></ng-md-icon>
      </i>
    </div>
  </div>
  <div></div>
</div>
