<ion-view view-title="Магазин">
  <ion-nav-buttons side="right">
    <btn-search></btn-search>
  </ion-nav-buttons>
  <ion-content id="location-feed-content">
    <div class="location-list">

      <item-shop item="item" ng-repeat="item in vm.shop track by $index"></item-shop>

    </div>
  </ion-content>
</ion-view>
