<div class="item-public">
  <div class="item-public__background"
       style="background-image: url({{vm.public.background}})">
    <div class="item-public__title-block"
         ui-sref="main.public.publics({public_id: 0})">
      <div class="item-public__title">
        {{vm.public.title}}
      </div>
      <div class="item-public__subtitle">
        {{vm.public.subtitle}}
      </div>
    </div>
    <img ng-src="{{vm.public.author.avatar}}"
         class="item-public__avatar"
         ui-sref="main.profile({user_id: 1})">
  </div>
  <div class="row item-public__content">
    <div class="col item-public__content--count-user">
      <i>
        <ng-md-icon class="item-public--icon"
                    icon="group"
                    style="fill: #4d4d4d"
                    size="12"></ng-md-icon>
      </i>
      {{vm.public.count_users}}
    </div>
    <div class="col">
      <i>
        <ng-md-icon class="item-public--icon item-public--icon-thumb_up"
                    icon="thumb_up"
                    style="fill: #4d4d4d"
                    size="12"></ng-md-icon>
      </i>
      {{vm.public.likes}}
    </div>
  </div>
  <div class="item-public__btn-block">
    <a href="" class="item-public__btn"
               ng-class="{
                            'md-raised md-button md-default-theme material-background item-public__btn--popular': vm.type === 'popular',
                            'button button-clear item-public__btn--subscribe': vm.type === 'subscription',
                            'button button-outline button-balanced item-public__btn--my': vm.type === 'my'
                         }">
      <span class="item-public__btn--white" ng-if="vm.type === 'popular'">
        Подписаться
      </span>
      <span class="item-public__btn--green" ng-if="vm.type === 'subscription'">
        ОТПИСАТЬСЯ
      </span>
      <span ng-if="vm.type === 'my'">
        НАСТРОЙКИ
      </span>
    </a>
  </div>
</div>
