<ion-view class="group-chat-bar">
  <ion-tabs>
    <ion-tab title="ЧАТ"
             ui-sref='main.group-chat.chat({group_chat_id: 1})'>
      <ion-nav-view name="tab-group-chat-chat"></ion-nav-view>
    </ion-tab>
    <ion-tab title="СТЕНА"
             ui-sref='main.group-chat.wall({group_chat_id: 1})'>
      <ion-nav-view name="tab-group-chat-wall"></ion-nav-view>
    </ion-tab>
    <ion-tab title="ГАЛЕРЕЯ"
             ui-sref='main.group-chat.gallery({group_chat_id: 1})'>
      <ion-nav-view name="tab-group-chat-gallery"></ion-nav-view>
    </ion-tab>
    <ion-tab title="УЧАСТНИКИ"
             ui-sref='main.group-chat-members({group_chat_id: 1})'>
      <ion-nav-view name="tab-group-chat-members"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>

