<ion-view>
  <ion-tabs class="tabs-balanced">
    <ion-tab title="ПУБЛИКАЦИИ"
             ui-sref='main.public.publics({public_id: 0})'>
      <ion-nav-view name="tab-public-publics"></ion-nav-view>
    </ion-tab>
    <ion-tab title="ГАЛЕРЕЯ"
             ui-sref='main.public.gallery({public_id: 0})'>
      <ion-nav-view name="tab-public-gallery"></ion-nav-view>
    </ion-tab>
    <ion-tab title="ОПИСАНИЕ"
             ui-sref='main.public.descr({public_id: 0})'>
      <ion-nav-view name="tab-public-descr"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
