<ion-view view-title="Черный список"
          hide-back-button="true">
  <ion-nav-buttons>
    <button class="button back-button buttons button-clear header-item" ui-sref="main.tabs.news">
      <i class="icon ion-android-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <btn-search></btn-search>
    <btn-add-user></btn-add-user>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <item-user-control user="user"
                         ng-repeat="user in vm.users track by $index"></item-user-control>
    </ion-list>
  </ion-content>
</ion-view>
