<a href="" class="button buttons button-clear header-item btn-add-user" ui-sref='main.add-to-group'>
  <ng-md-icon icon="person_add"
              style="fill: #fff"
              size="25"></ng-md-icon>
</a>
