<div class="item-shop">
  <div class="item-shop__cover" style="background-image:url({{vm.item.cover}})">
  </div>
  <div class="item-shop__content row">
    <div class="item-shop__title">
      {{vm.item.title}}
    </div>
    <a href="" class="md-raised md-button md-default-theme material-background item-shop__btn--buy">
      <i>
        <ng-md-icon icon="monetization_on"
                    size="20"
                    style="fill: #fff"></ng-md-icon>
      </i>
      {{vm.item.price}}
    </a>
  </div>
</div>
