send-message {
  width: 100%;
  display: flex;
  flex: 1 0 auto;
  padding: 5px 0;
  height: 44px;
}

.send-message {
  &__input {
    width: 100%;
    border-radius: 4px;
    &[type="text"] {
      padding: 0 10px;
    }
  }
  &__btn {
    display: flex;
    padding: 0 5px;
  }
}
