.item-shop {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
  margin-bottom: 14px;
  &__cover {
    height: 180px;
    background-size: cover;
    background-position: center;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px
  }
  &__content {
    position: relative;
    &.row {
      padding: 15px 20px;
      background-color: white;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }
  &__title {
    font-size: 16px;
    font-weight: 500;
  }
  &__btn--buy {
    color: #fff!important;
    position: absolute;
    right: 20px;
    top: 1px;
    font-size: 14px;
    & ng-md-icon {
      padding: 1px 0 0;
    }
  }
}
