<ion-view>
  <ion-nav-buttons>
    <button class="button back-button buttons button-clear header-item" ui-sref="main.tabs.rooms">
      <i class="icon ion-android-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <btn-clip></btn-clip>
    <btn-add-user></btn-add-user>
    <btn-more-settings></btn-more-settings>
  </ion-nav-buttons>
  <ion-nav-title>
    <div class="group-chat__header">
      <div class="group-chat__title">
        {{vm.chat.group.title}}
      </div>
      <div class="group-chat__count">
        {{vm.chat.group.count}} участников
      </div>
    </div>
  </ion-nav-title>
  <ion-content class="screen-chat has-footer">
    <message message="message" ng-repeat="message in vm.chat.messages"></message>
  </ion-content>

  <ion-footer-bar keyboard-attach class="bar-balanced screen-chat__footer"
                  ng-class="{'screen-chat__stickers': vm.stickers}">
    <send-message></send-message>
    <send-sticker></send-sticker>
  </ion-footer-bar>
</ion-view>
