.item-room {
  &__avatar {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: block;
    margin: 0 10px 0 0;
    float: left;
    &-block {
      height: 100%;
    }
  }
  &__content {

  }
  &__green-circle {
    border-radius: 50%;
    width: 7px;
    height: 7px;
    margin: 3px 0;
    background: #4caf50;
    display: inline-block;
  }
  &__title {
    color: #212121;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    padding: 0 0 5px;
    &-group {
      display: block;
      &-message {
        display: block;
        font-size: 16px;
        padding: 0;
      }
    }
  }
  &__message {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__time {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    position: absolute;
    right: 20px;
    top: 15px;
  }
  &__new-message {
    position: absolute;
    right: 20px;
    top: 38px;
  }
  &__delete-btn.button {
    padding: 0 26px;
    & .icon:before {
      font-size: 32px;
    }
  }
}
