<ion-view view-title="Сообщения">
  <ion-nav-buttons side="right">
    <btn-search></btn-search>
  </ion-nav-buttons>
  <ion-content>
    <div class="list tab-rooms__list" ng-repeat="day in vm.roomsList track by $index">
      <div class="item">
        {{day.date}}
      </div>
      <ion-list>
        <item-room room="room" ng-repeat="room in day.rooms"></item-room>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
