<ion-view>
  <ion-tabs class="tabs-balanced">
    <ion-tab icon-on="tabs-main tabs-main__news" icon-off="tabs-main tabs-main__news tabs-main__news--active" badge="3" badge-style="badge-assertive" ui-sref='main.tabs.news'>
      <ion-nav-view name="tab-news"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-on="tabs-main tabs-main__chat" icon-off="tabs-main tabs-main__chat--active" badge="14" badge-style="badge-assertive" ui-sref='main.tabs.rooms'>
      <ion-nav-view name="tab-rooms"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-on="tabs-main tabs-main__satellite" icon-off="tabs-main tabs-main__satellite--active" badge="0" badge-style="badge-assertive" ui-sref='main.publics.popular'>
      <ion-nav-view name="tab-map"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
