<ion-view>
  <ion-tabs class="tabs-balanced">
    <ion-tab title="ПОПУЛЯРНЫЕ"
             ui-sref='main.publics.popular'>
      <ion-nav-view name="tab-publics-popular"></ion-nav-view>
    </ion-tab>
    <ion-tab title="ПОДПИСКА"
             ui-sref='main.publics.subscription'>
      <ion-nav-view name="tab-publics-subscription"></ion-nav-view>
    </ion-tab>
    <ion-tab title="МОИ"
             ui-sref='main.publics.my'>
      <ion-nav-view name="tab-publics-my"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
