<ion-view view-title="screenTabPublicPublics module">
  <ion-nav-buttons>
    <button class="button back-button buttons button-clear header-item" ui-sref="main.publics.popular">
      <i class="icon ion-android-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <btn-search></btn-search>
    <btn-more-settings></btn-more-settings>
  </ion-nav-buttons>
  <ion-nav-title>
    <img class="screen-chat__avatar"
         ng-src="{{vm.public.author.avatar}}"> {{vm.public.title}}
  </ion-nav-title>
  <ion-content class="padding tab-news background-grey">
    <item-news news="news" ng-repeat="news in vm.newsList track by $index"></item-news>
  </ion-content>
  <div class="footer-fab-bar">
    <a class="md-button md-accent md-fab fab-footer btn-red btn-reply">
      <ng-md-icon icon="reply"
                  style="fill: #fff; margin: -7px 0 0 -10px"
                  size="35"></ng-md-icon>
    </a>
  </div>
</ion-view>
