<md-list-item ng-class="{'menu-item__border-top': vm.borderTop}"
              ng-click="vm.navigateTo()">
  <i ng-if="vm.icon || vm.iconSvg">
    <md-icon ng-if="vm.iconSvg"
             style="fill: #4d4d4d;"
             md-svg-icon="{{vm.iconSvg}}"></md-icon>
    <ng-md-icon ng-if="vm.icon"
                icon="{{vm.icon}}"
                style="fill: #4d4d4d"></ng-md-icon>
  </i>
  &nbsp;&nbsp;&nbsp;<span>{{vm.title}}</span>
</md-list-item>
