.streaming {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
  margin-bottom: 14px;
  &__list {
  }
  &__item {
    padding: 10px;
    &--image {
      height: 20px;
    }
    &--btn-block {
      border: none;
    }
    &--btn.button.button-block {
      margin: 0;
    }
    &--group {
      & md-radio-button {
        & .md-container {
          right: 20px;
          left: auto;
        }
        & .md-label {
          margin-left: 0;
        }
        &:not(:first-child) {
          margin-top: 0;
        }
      }
      &-horizontal {
        border-bottom: none;
        width: auto;
        & md-radio-button {
          margin-bottom: 0;
        }
        & md-radio-button:not(:first-child) {
          margin-top: 0;
        }
        & .streaming__item--radio{
          text-align: right;
        }
        & .md-container {
          left: 40px;
        }
      }
    }
    &--chevron-right {
      position: absolute;
      right: 10px;
    }
    &--checkmark,
    &--warning {
      position: absolute;
      color: #4caf50;
      right: 50px;
      font-size: 27px;
      top: 8px;
    }
    &--btn-left {
      float: right;
      font-size: 12px;
      color: #fff !important;
      padding: 5px 12px;
      line-height: normal;
      min-height: 24px;
      &.activated {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4)!important;
      }
    }
    &--btn-back {
      float: left;
      min-height: 24px;
      max-height: 24px;
      & .icon {
        &:before {
          font-size: 18px;
          line-height: 34px;
        }
      }
    }
    &--icon-left {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}
