<ion-view view-title="Галерея">
  <ion-nav-buttons>
    <button class="button back-button buttons button-clear header-item" ui-sref="main.publics.popular">
      <i class="icon ion-android-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <btn-search></btn-search>
    <btn-more-settings></btn-more-settings>
  </ion-nav-buttons>
  <ion-nav-title>
    <img class="screen-chat__avatar"
         ng-src="{{vm.public.author.avatar}}"> {{vm.public.title}}
  </ion-nav-title>
  <ion-content>

    <gallery images="vm.gallery"></gallery>

  </ion-content>
</ion-view>
