<ion-view view-title="Добавить в группу"
          hide-back-button="true">
  <ion-nav-buttons>
    <button class="button back-button buttons button-clear header-item" ng-click="vm.onBack()">
      <i class="icon ion-android-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <btn-search></btn-search>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <item-user-checkbox user="user"
                                 ng-repeat="user in vm.users track by $index"></item-user-checkbox>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-balanced">

    <button class="button button-full button-clear add-to-group__footer_btn"
            ui-sref="main.group-chat-settings">
      2/3 ДАЛЬШЕ <i class="icon ion-android-arrow-forward"></i>
    </button>
  </ion-footer-bar>
</ion-view>
