<a href="" class="button buttons button-clear header-item btn-create-group-chat"
   ng-click="vm.openModal()">
  <ng-md-icon icon="search"
              style="fill: #fff"
              size="30"></ng-md-icon>
</a>
