<ion-modal-view class="modal-search">
  <ion-header-bar class="material-background-nav-bar modal-search__head-bar">
    <label class="item-input-wrapper modal-search__input--search">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search"
             placeholder="Поиск">
    </label>
    <button class="button button-clear button-stable modal-search__btn--cancel" ng-click="vm.closeModal()">
      Отмена
    </button>
  </ion-header-bar>
  <ion-content>
  </ion-content>
</ion-modal-view>
