<a href="" class="button buttons button-clear header-item btn-clip"
   ng-click="vm.showListBottomSheet($event)">
  <ng-md-icon icon="attach_file"
              style="fill: #fff"
              size="25"></ng-md-icon>
</a>
