<md-bottom-sheet class="md-list md-has-header">
  <h1 class="md-bottom-sheet-header">Отправить в чат</h1>
  <md-list>
    <md-list-item>
      <a class="md-default-theme md-bottom-sheet-list-item"
         ng-click="closeListBottomSheet()">
        <i>
          <ng-md-icon icon="games"
                      style="fill: #4d4d4d"></ng-md-icon>
        </i>
        <span>Доску стратегий</span>
      </a>
    </md-list-item>
    <md-list-item>
      <a class="md-default-theme md-bottom-sheet-list-item"
         ng-click="closeListBottomSheet()">
        <i>
          <ng-md-icon icon="contact_phone"
                      style="fill: #4d4d4d"></ng-md-icon>
        </i>
        <span>Контакт</span>
      </a>
    </md-list-item>
    <md-list-item>
      <a class="md-default-theme md-bottom-sheet-list-item"
         ng-click="closeListBottomSheet()">
        <i>
          <ng-md-icon icon="add_a_photo"
                      style="fill: #4d4d4d"></ng-md-icon>
        </i>
        <span>Сделать фото или видео</span>
      </a>
    </md-list-item>
    <md-list-item>
      <a class="md-default-theme md-bottom-sheet-list-item"
         ng-click="closeListBottomSheet()">
        <i>
          <ng-md-icon icon="photo_size_select_actual"
                      style="fill: #4d4d4d"></ng-md-icon>
        </i>
        <span>Выбрать из галереи</span>
      </a>
    </md-list-item>
    <md-list-item>
      <a class="md-default-theme md-bottom-sheet-list-item"
         ng-click="closeListBottomSheet()">
        <i>
          <ng-md-icon icon="exit_to_app"
                      style="fill: #4d4d4d"></ng-md-icon>
        </i>
        <span>Геопозицию</span>
      </a>
    </md-list-item>
    <md-list-item>
      <a class="md-default-theme md-bottom-sheet-list-item"
         ng-click="closeListBottomSheet()">
        <i>
          <ng-md-icon icon="close"
                      style="fill: #4d4d4d"></ng-md-icon>
        </i>
        <span>Отменить</span>
      </a>
    </md-list-item>
  </md-list>

</md-bottom-sheet>
