.item-user-checkbox {
  &.item {
    padding: 16px 16px 0 25px;
  }
  &__content {
    margin: 0 0 0 20px;
  }
  &__avatar {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: block;
    margin: 0 10px 0 0;
    float: left;
  }
  &__name {
    color: #212121;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 0 0;
  }
  &__phone {
    font-size: 13px;
    color: #53585f;
  }
  & md-checkbox .md-label {
    white-space: inherit;
  }
}
