.item-news {
  border-top: 1px solid rgba(225, 225, 225, 0.69);
  background-color: white;
  margin-bottom: 20px;
  &__header.row {
    padding: 10px 20px;
  }
  &__avatar {
    border-radius: 50%;
    width: 48px;
    height: 48px;
  }
  &__title {
    color: #212121;
    font-size: 18px;
    font-weight: 500;
    padding: 0 0 10px;
  }
  &__date {
    color: #757575;
    font-size: 16px;
    font-weight: 500;
  }
  &__poster {
    overflow: hidden;
    &-image {
      width: 100%;
    }
  }
  &__detail.row {
    color: #212121;
    padding: 5px 20px 20px 20px;
    font-size: 16px;
    & h1 {
      font-size: 16px;
      font-weight: 400;
    }
  }
  &__content {
    max-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    &--open {
      margin-top: 0;
    }
  }
  &__footer.row {
    color: #212121;
    text-align: center;
    padding: 20px 0 5px;
    font-size: 15px;
    font-weight: 500;
  }
  &__read-btn.button {
    font-weight: 400;
    margin: -5px 10px 0 0;
    min-height: 20px;
    height: 27px;
    line-height: normal;
    padding: 4px 5px;
    font-size: 14px;
    float: right;
    text-transform: uppercase;
    min-width: 40px;
    & .icon {
      position: relative;
      top: -13px;
    }
    & .icon:before {
      font-size: 16px;
    }
  }
}
