<md-dialog aria-label="buy-money-dialog">
    <md-dialog-content class="md-dialog-content">
      <div>
        <h2 class="md-title">
          {{"component-money.dialog.title"|translate}}
        </h2>
        <div class="money-dialog__content">
          <md-radio-group ng-model="selectedCoins">
            <md-radio-button ng-repeat="coins in coinsArr"
                             ng-value="coins"
                             value="{{coins}}">
              <div class="money-dialog__coin">
                {{coins}} {{"component-money.dialog.coins"|translate}}
              </div>
              <div class="money-dialog__currency">
                {{priceArr[$index]}} {{"component-money.dialog.currency"|translate}}
              </div>
            </md-radio-button>
          </md-radio-group>
        </div>
        </p>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <a class="md-primary-color dialog-action-btn" ng-click="closeDialog()">
        {{"component-money.dialog.buttons.cancel"|translate}}
      </a>
      <a class="md-primary-color dialog-action-btn" ng-click="okDialog(selectedCoins)">
        {{"component-money.dialog.buttons.ok"|translate}}
      </a>
    </md-dialog-actions>
</md-dialog>
