<md-list-item class="menu-list-item money__menu-item">
  <i>
    <ng-md-icon icon="monetization_on"
                style="fill: #4d4d4d"></ng-md-icon>
  </i>
  <span>{{money.user.money | currency:'':2}}</span>
  <a href="" class="button button-outline button-balanced menu__buy-btn" ng-click="money.showDialog($event)">
    {{"component-money.buy"|translate}}
  </a>
</md-list-item>
