.group-chat-settings {
  color: #4d4d4d;
  &__item {
    &--title {
      padding: 0 16px;
      border-bottom: none;
      & input {
        font-size: 18px;
        font-weight: 500;
      }
    }
    &--withoit-border-top {
      border-top: none;
    }
  }
  &__item-image {
    &--title {
      padding: 30px 0 0 0;
      font-weight: 600;
    }
    &--icon {
      position: absolute;
      right: 30px;
      top: 30px;
    }
  }
  &__btn {
    &.md-button.md-default-theme.md-raised,
    &.md-button.md-raised,
    &.md-button.md-default-theme.md-raised,
    &.md-button.md-raised {
      color: #fff;
      padding: 5px 20px;
    }
    &--block {
      text-align: center;
    }
  }
}
