<ion-view view-title="Настройки" hide-back-button="true">
  <ion-content>

    <div class="list group-chat-settings">

      <label class="item item-input item-select">
        <div class="input-label">
          Язык
        </div>
        <select>
          <option selected>Русский</option>
          <option>English</option>
        </select>
      </label>

      <div class="item item-thumbnail-left">
        <img ng-src="screen-group-chat-settings/assets/images/background.png">
        <div class="group-chat-settings__item-image--title">
          Фон чата
        </div>
        <div class="group-chat-settings__item-image--icon">
          <ng-md-icon icon="mode_edit"
                      style="fill: #4d4d4d"
                      size="30"></ng-md-icon>
        </div>
      </div>

      <ion-toggle toggle-class="toggle-balanced">
        <ng-md-icon icon="report_problem"
                    style="fill: #4d4d4d"></ng-md-icon> Push уведомления
      </ion-toggle>

      <ion-toggle toggle-class="toggle-balanced">
        <ng-md-icon icon="notifications_active"
                    style="fill: #4d4d4d"></ng-md-icon> Звук
      </ion-toggle>

      <ion-toggle toggle-class="toggle-balanced">
        <ng-md-icon icon="vibration"
                    style="fill: #4d4d4d"></ng-md-icon> Вибрация
      </ion-toggle>

    </div>

  </ion-content>
</ion-view>
