<ion-view view-title="screenTabPublicDescr module">
  <ion-nav-buttons>
    <button class="button back-button buttons button-clear header-item" ui-sref="main.publics.popular">
      <i class="icon ion-android-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <btn-search></btn-search>
    <btn-more-settings></btn-more-settings>
  </ion-nav-buttons>
  <ion-nav-title>
    <img class="screen-chat__avatar"
         ng-src="{{vm.public.author.avatar}}"> {{vm.public.title}}
  </ion-nav-title>
  <ion-content>

    <p class="padding">
      {{vm.public.description}}
    </p>

    <div class="list">
      <div class="item item-divider">
        Автор
      </div>
      <ion-item class="member-control-item">
        <div class="item-user-checkbox__content">
          <img src="{{vm.public.author.avatar}}" class="item-user-checkbox__avatar">
          <div class="item-user-checkbox__name">{{vm.public.author.name}}</div>
          <div class="item-user-checkbox__phone">{{vm.public.author.phone}}</div>
        </div>
      </ion-item>

    </div>

  </ion-content>
  <div class="footer-fab-bar">
    <a class="md-button md-accent md-fab fab-footer btn-red btn-reply">
      <ng-md-icon icon="reply"
                  style="fill: #fff; margin: -7px 0 0 -10px"
                  size="35"></ng-md-icon>
    </a>
  </div>
</ion-view>
